.tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tab-label {
    width: 7%;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background-color: #71c4e3;
    font-weight: bold;
    transition: background ease 0.3s;
}

.tabs .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
    padding: 10px 20px;
    box-shadow: -10px 10px 0px 0px black;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background: #fff;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

body {
    background: #71c4e3;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    max-width: 90%;
    margin: 0 auto;
    font-size: 110%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.input_label {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 0rem;
    flex-direction: row;
}


/* BREAK */

form {
    display: flex;
    flex-wrap: wrap
}

form>input {
    flex: 1 1 10ch;
    margin: .5rem
}

input {
    margin-left: auto;
    width: 80%;
    border: none;
    background: hsl(0, 0%, 93%);
    border-radius: .25rem;
    padding: .75rem 1rem
}


/* BREAK */

h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 3% auto;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    border: solid 2px white;
    padding: 15px;
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer * {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
    top: 0;
}

#profile {
    vertical-align: middle;
}

#name {
    vertical-align: middle;
    display: inline;
    padding-left: 10px;
    color: #e5e5e5;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}